.students-container {
    margin: 10px;
}
.table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;

}
.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    
}
.table th {
    text-align: left;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #04AA6D;
    color: white;
}
.table tr:nth-child(even) {
    background-color: #f2f2f2
}
.table tr:hover {
    background-color: #ddd;
}