
.pnf-container {
    display: flex;
    column-gap: 55px;
}
.pnf-circle {
    position: relative;
    height: 50px;
    width: 100px;
    border: solid 10px blue;
    border-radius: 125px 125px 0 0;
    margin: 10px 5px 25px 5px;
}

.pnf-base-container {
    position: absolute;
    height: 15px;
    width: 250px;
    border: solid 5px blueviolet;
    left: -10px;
    top: 50px;
    background-color:blueviolet;
    color: white;

}

.pnf-keys {
    display: flex;
    top: 16px;
    left: -25px;
    position: relative;
}

.pnf-keys .black {
    width: 11px;
    height: 30px;
    margin: 0 0 1px 1px;
    background: linear-gradient(#333, #000);
}
.pnf-keys .white {
    width: 20px;
    height: 55px;
    border-radius: 2px;
    border: 1px solid #000;
    background: linear-gradient(#fff 96%, #eee 4%);
}
