

.App {
  /* position: relative; */
  /* width: 100vw;
  height: 100vh; */
  display: grid;
  grid-template-columns: 50% 50%;
  border: solid red;
  gap: 10px;
  margin: 20px;
}

.app-header {
  grid-column: 1 / span 2;
}

.student {
  border: dashed yellow;
  grid-column: 1 / span 1;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  padding: 15px;
}

.title {
  grid-column: 1 / span 2;
}

.gender-container {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.confirm-button {
  display: none;
}